* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar__container {
  width: 100%;
  padding: 20px;
  background: white;
  margin-top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__content {
  display: flex;
  justify-content: flex-start;
}

.navbar__content ul {
  display: flex;
  flex-direction: row;
  margin-left: 30px;
}

.navbar__content ul li {
  list-style: none;
  margin: 15px;
}

.navbar__second__content {
  display: flex;
  justify-content: flex-end;
}

.navbar__second__content ul {
  display: flex;
  flex-direction: row;
  margin-right: 60px;
}

.navbar__second__content ul li {
  list-style: none;
  margin: 15px;
}

.navbar__logo {
  margin: 0 auto;
  position: relative;
}

.navbar__login {
  padding: 15px 25px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
  overflow: hidden;
  cursor: pointer;
}

.navbar__login::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #212121;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
  cursor: pointer;
}

.navbar__login:hover {
  color: #e8e8e8;
}

.navbar__login:hover::before {
  width: 100%;
}

/*Main Section Styles */

.main__landing {
  width: 100%;
  object-fit: cover;
  height: 85vh;
  position: relative;
}

.overlay {
  position: absolute;
  top: 12%;
  bottom: 0;
  left: 0;
  right: 0;
  /*height: 165vh;*/
  width: 100%;
  opacity: 1.8;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}

.main__section__content__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}

.main__text__section {
  font-size: 50px;
  font-weight: 1000;
  margin-bottom: 20px;
  color: #ff9100;
}

.secondary__text {
  font-size: 25px;
  font-weight: 1200;
  margin-bottom: 20px;
}

.secondary__text_i {
  font-size: 25px;
  font-weight: 1200;
  margin-bottom: 20px;
}

.secondary__text__i {
  font-size: 25px;
  font-weight: 1200;
  margin-bottom: 20px;
}

.main__section__content__text__button {
  width: 30%;
  background: #ff9100;
  padding: 20px;
  border-radius: 10px;
  margin: 0 auto;
  color: #212121;
}

.main__section__button {
  text-transform: uppercase;
  font-family: "Courier New", Courier, monospace;
  background: none;
  color: white;
  font-weight: 900;
  font-size: larger;
}

.trade__section {
  margin-top: 25px;
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
  font-weight: 12;
}

/*Second Section Styles */

.second__section__container {
  background: #333300;
  margin-top: -5px;
  width: 100%;
  padding-bottom: 20px;
}

.second__section__content h1 {
  padding-top: 30px;
  text-align: center;
  color: #fff;
}

.second__section__content__text {
  font-size: larger;
  font-weight: 900;
  font-family: "Courier New", Courier, monospace;
  margin-top: 15px;
  text-align: center;
  color: #fff;
}

.context__text_i {
  margin-top: 5px;
}

.second__section__features h1 {
  margin-top: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

.second__section__features__content {
  background: #ff9100;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 5px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.second__section__features__content__item {
  display: flex;
  justify-content: center;
  align-items: center;
  /*color: white;*/
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}

.second__section__features__content__item_i {
  display: flex;
  justify-content: center;
  align-items: center;
  /*color: white;*/
  font-family: "Courier New", Courier, monospace;
  width: 63px;
  height: 80px;
  cursor: pointer;
}

.second__features__minimum {
  font-size: larger;
  font-weight: 900;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  margin-top: 15px;
  color: #fff;
}

.second__features__minimum_i {
  margin-top: 5px;
}

.second__section__features__content_i {
  background: #ff9100;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/*Third Section Styles */

.third__section__container {
  background-color: #333333;
  margin-top: -20px;
  width: 100%;
  padding-bottom: 20px;
  display: block;
}

.third__section__content {
  margin-top: 20px;
}

.third__section__steps {
  padding-top: 10px;
  text-transform: uppercase;
  text-align: center;
  color: blue;
  font-family: "Courier New", Courier, monospace;
}

.third__section__thrida {
  padding-top: 10px;
  text-align: center;
  font-size: 18px;
  font-weight: 1000;
  font-family: "Courier New", Courier, monospace;
}

.third__section__content__steps {
  margin: 25px auto;
}

.third__section__content__steps__item {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

.third__section__content__steps__item_i {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

.third__section__content__create {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: #ff9100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.third__section__content__create_fa {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: #ff9100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
}

.third__section__content__create_gi {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: #ff9100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.third__section__content__create__icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 63px;
  height: 80px;
}

.third__section__content__create__text {
  margin-top: 10px;
  padding-top: 5px;
  margin-left: 20px;
  text-align: center;
}

.third__section__content__create__text__description {
  margin-top: 5px;
  font-size: 16px;
  font-weight: 1000;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}

.third__section__content__create__text__description_i {
  margin-top: 5px;
  font-size: 16px;
  font-weight: 1000;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}

.third__section__content__create__button {
  display: flex;
  justify-content: center;
  margin-top: 35px;
}

.third__section__content__create__button__item {
  margin-top: 30px;
  width: 15%;
  background: #ff9100;
  padding: 20px;
  border-radius: 10px;
  color: black;
  font-size: larger;
  font-weight: 900;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  margin-left: 55px;
}

/* fourth section styles */

.fourth__section__container {
  background-color: whitesmoke;
  margin-top: -20px;
  width: 100%;
  padding-bottom: 20px;
  display: block;
}

.fourth__section__about {
  padding-top: 30px;
  text-align: center;
}

.fourth__section__features__content {
  background: #ff9100;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 15px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fourth__section__features__content__icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 63px;
  height: 80px;
}

.fourth__section__features__content__icon_i {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: larger;
  font-weight: 900;
}

.fourth__section__features__content__text {
  margin-top: 10px;
  padding-top: 5px;
  margin-left: 20px;
  text-align: center;
}

.fourth__section__features__content__text__title {
  margin-top: -5px;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}

.fourth__section__features__content__text__description {
  margin-top: 5px;
  font-size: 16px;
  font-weight: 1000;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}

/* Footer Section Styles */

.footer__section__container {
  background-color: #333333;
  margin-top: -20px;
  width: 100%;
  padding-bottom: 20px;
  display: block;
  min-height: 55vh;
}

.footer__section__content {
  margin-top: 20px;
}

.footer__section__title {
  padding-top: 20px;
  color: #fff;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}

.footer__section__content__logos {
  margin: 25px auto;
}

.footer__section__content__logos__item {
  display: flex;
  justify-content: center;
  width: 13%;
  padding: 15px;
  background: #fff;
  border-radius: 10px;
  margin-left: 20px;
}

.footer__section__content__logos__item__icon {
  display: flex;
  width: 63px;
  height: 80px;
}

.footer__section__logos__item__text {
  font-size: 16px;
  font-family: "Courier New", Courier, monospace;
}
