.dashboardHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background: var(--alternateBackground);
  z-index: 8;
  border-bottom: 1px solid var(--mainShadow);
}

.dashboardHeader .dashboardHeaderLeft {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.dashboardHeader .dashboardHeaderLeft button {
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--mainSecondary);
  margin-right: 5px;
  font-size: 1.8rem;
  padding-right: 12px;
  border-right: 1px solid var(--mainShadow);
}

.dashboardHeader .dashboardHeaderLeft img {
  width: 100px;
  margin-left: 10px;
}

.dashboardHeader .dashboardHeaderRight {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.dashboardHeader .dashboardHeaderRight .dashboardHeaderAccountWalletSwitch {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-right: 1px solid var(--mainShadow);
  padding-right: 12px;
  margin-right: 8px;
}

.dashboardHeader
  .dashboardHeaderRight
  .dashboardHeaderAccountWalletSwitch
  .dashboardHeaderAccountWalletMain {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3px;
  cursor: pointer;
}

.dashboardHeader
  .dashboardHeaderRight
  .dashboardHeaderAccountWalletSwitch
  .dashboardHeaderAccountWalletMain
  svg {
  font-size: 1.2rem;
  margin: 0 6px;
  color: var(--darkBackground);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.dashboardHeader
  .dashboardHeaderRight
  .dashboardHeaderAccountWalletSwitch
  .dashboardHeaderAccountWalletMain
  svg.loading {
  animation: spin 1s linear infinite;
}

.dashboardHeader
  .dashboardHeaderRight
  .dashboardHeaderAccountWalletSwitch
  .dashboardHeaderAccountWalletMain
  p {
  font-size: 0.7rem;
  font-weight: 500;
  margin: 2px 0;
  color: var(--darkBackground);
}

.dashboardHeader
  .dashboardHeaderRight
  .dashboardHeaderAccountWalletSwitch
  .dashboardHeaderAccountWalletMain
  h6 {
  font-size: 1.2rem;
  font-weight: 700;
  margin: 2px 0;
  color: var(--darkBackground);
}

.dashboardHeader
  .dashboardHeaderRight
  .dashboardHeaderAccountWalletSwitch
  .dashboardHeaderAccountWalletMain
  .dashboardHeaderAccountWalletCurrentDetails {
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 0;
}

.dashboardHeader
  .dashboardHeaderRight
  .dashboardHeaderAccountWalletSwitch
  .dashboardHeaderAccountWalletMenu {
  padding: 20px;
  display: none;
  position: absolute;
  top: 130%;
  background: var(--mainBackground);
  width: unset;
  white-space: nowrap;
  color: var(--darkBackground);
  border-radius: 6px;
  box-shadow: 0 0 9px 1px var(--darkBackground);
  z-index: 8;
}

.dashboardHeader
  .dashboardHeaderRight
  .dashboardHeaderAccountWalletSwitch
  .dashboardHeaderAccountWalletMenu.active {
  display: block;
}

.dashboardHeader
  .dashboardHeaderRight
  .dashboardHeaderAccountWalletSwitch
  .dashboardHeaderAccountWalletMenu
  .dashboardHeaderAccountWalletMenuItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
  margin: 18px auto;
  cursor: pointer;
}

.dashboardHeader
  .dashboardHeaderRight
  .dashboardHeaderAccountWalletSwitch
  .dashboardHeaderAccountWalletMenu
  .dashboardHeaderAccountWalletMenuItem:hover {
  opacity: 0.7;
}

.dashboardHeader
  .dashboardHeaderRight
  .dashboardHeaderAccountWalletSwitch
  .dashboardHeaderAccountWalletMenu
  .dashboardHeaderAccountWalletMenuItem
  p {
  font-size: 1.2rem;
  font-weight: 300;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.dashboardHeader
  .dashboardHeaderRight
  .dashboardHeaderAccountWalletSwitch
  .dashboardHeaderAccountWalletMenu
  .dashboardHeaderAccountWalletMenuItem
  svg {
  display: inline-block;
  margin: 0 2px;
}

.dashboardHeader
  .dashboardHeaderRight
  .dashboardHeaderAccountWalletSwitch
  .dashboardHeaderAccountWalletMenu
  .dashboardHeaderAccountWalletMenuItem.active
  svg {
  color: green;
}

.dashboardHeader
  .dashboardHeaderRight
  .dashboardHeaderAccountWalletSwitch
  .dashboardHeaderAccountWalletMenu
  .dashboardHeaderAccountWalletMenuItem
  label {
  font-size: 1rem;
  font-weight: 700;
  margin-left: 50px;
  cursor: pointer;
}

.dashboardHeader .dashboardHeaderRight button {
  padding: 12px 16px;
  border-radius: 15px;
  color: var(--darkBackground);
  background: var(--mainPrimary);
  font-weight: 600;
  font-size: 0.8rem;
  margin: 0 20px;
  cursor: pointer;
}

.dashboardHeader .dashboardHeaderAccount {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboardHeader .dashboardHeaderAccount .dashboardHeaderAccountMain {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 40px;
  aspect-ratio: 1/1;
  border-radius: 80px;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 900;
  text-align: center;
  color: var(--darkBackground);
  background: var(--mainBackground) no-repeat center;
  background-size: cover;
}

.dashboardHeader .dashboardHeaderAccount .dashboardHeaderAccountMenu {
  padding: 20px;
  display: none;
  position: absolute;
  top: 130%;
  right: 5px;
  min-width: 200px;
  background: var(--mainBackground);
  width: unset;
  color: var(--darkBackground);
  white-space: nowrap;
  border-radius: 6px;
  box-shadow: 0 0 9px 1px var(--darkBackground);
  z-index: 8;
}

.dashboardHeader .dashboardHeaderAccount .dashboardHeaderAccountMenu.active {
  display: block;
}

.dashboardHeader .dashboardHeaderAccount .dashboardHeaderAccountMenu p {
  display: flex;
  margin: 12px 0;
  padding: 8px 0;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--darkBackground) !important;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  cursor: pointer;
}

.dashboardHeader .dashboardHeaderAccount .dashboardHeaderAccountMenu p:hover {
  opacity: 0.6;
}

@media (max-width: 1200px) {
  .dashboardHeader .dashboardHeaderRight button {
    display: none;
  }
}

@media (max-width: 720px) {
  .dashboardHeader .dashboardHeaderLeft img {
    display: none;
  }

  .dashboardHeader
    .dashboardHeaderRight
    .dashboardHeaderAccountWalletSwitch
    .dashboardHeaderAccountWalletMain
    p {
    font-size: 0.5rem;
  }

  .dashboardHeader
    .dashboardHeaderRight
    .dashboardHeaderAccountWalletSwitch
    .dashboardHeaderAccountWalletMain
    h6 {
    font-size: 1rem;
  }

  /* .dashboardHeader .dashboardHeaderRight button {
    display: none;
  } */
}
